.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ride_id {
    float: left;
    width: 30%;
}

.price {
    float: left;
    width: 50%;
}

.clicked {
    float: left;
    width: 20%;
}

/* Clear floats after the columns */
.ride:after {
    content: "";
    display: table;
    clear: both;
}

.ride {
    border: solid black;
    border-bottom: 2px;
}


.clickable:hover {
    border: solid #e8d8da;
    background-color: #ff5280;
    border-bottom: 4px;
}

.ride_header {
    border: solid black;
    border-bottom: 2px;
}

#red_background {
    background-color: red;
}

#red_background:hover {
    background-color: #ff5280;
}

ul {
    list-style-type: none;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
